@charset "utf-8";
/* CSS Document */
#group_title_braff {
	border-bottom: 1px solid #BBBBBB;
    color: #444444;
    font-size: 15px;
	font-weight: bold;
    margin: 0 0 10px;
    padding: 2px 10px 1px 0;
}
