<div class="repcomment">
   <div class="repcommentText">
     <font color="#21536A"><%= repcomment.author %>:&nbsp;&nbsp;</font>
     <%= repcomment.content %>
   </div>
   <div class="reportDate"><%= repcomment.created_at.strftime("%Y-%m-%d %H:%M") %></div>
</div>