<div class="relatedLinksTitle">访问量</div>
<div class="relatedLinks">这是一个内容模块</div>
<div class="relatedLinksTitle">日志分类</div>
<div class="relatedLinks">
 <%= show_article_type @article_types, @drafts %>
</div>