<% content_for :header_tags do -%>
<%= stylesheet_link_tag 'account' %>
<%  end -%>
<% html_title '修改密码' %>
<div class="bigViewDiv">
   <%= render_flash_messages %>
   <h2>修改密码</h2>
   <% form_tag(url_for(:action=>"password"), :class=>"tabular") do %>
     <div class="box">
       <p>
          <label>密码<span class="required">*</span></label>
          <input type="password" name="password" id="password" size="25" />
       </p>
       <p>
          <label>新密码<span class="required">*</span></label>
          <input type="password" name="new_password" id="password" size="25" /><br />
          <em>至少需要 6 个字符。</em>
       </p>
       <p>
         <label>确认密码<span class="required">*</span></label>
         <input type="password" name="password_confirmation" id="password_confirmation" size="25"  />
       </p>
     </div>
     <%= submit_tag "应用" %>
   <% end %>
</div>
