<% content_for :header_tags do -%>
   <%= javascript_include_tag 'application.js' %>
<% end -%>
<% selected_tab = params[:tab] ? params[:tab].to_s : tabs.first[:name] %>
<div class="tabs">
  <ul>
  <% tabs.each do |tab| -%>
    <li><%= link_to tab[:label], { :tab => tab[:name] },
                                   :id => "tab-#{tab[:name]}",
                                   :class => (tab[:name] != selected_tab ? nil : 'selected'),
                                   :onclick => "showTab('#{tab[:name]}', '#{tab[:url]}'); this.blur();return false;" %></li>
  <% end -%>
  </ul>
</div>
<script type="text/javascript">
	Event.observe(window, 'load', function() { displayTabsButtons(); });
	Event.observe(window, 'resize', function() { displayTabsButtons(); });
</script>
<% tabs.each do |tab| -%>
  <%= content_tag('div', render(:partial => tab[:partial], :locals => {:tab => tab} ),
                       :id => "tab-content-#{tab[:name]}",
                       :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                       :class => 'tab-content') %>
<% end -%>